window#osd {
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: {{colors.surface.default.hex}}D9;
}
  window#osd #container {
    margin: 16px;
  }
  window#osd image,
  window#osd label {
    color: {{colors.on_surface.default.hex}};
  }
  window#osd progressbar:disabled,
  window#osd image:disabled {
    opacity: 0.5;
  }
  window#osd progressbar,
  window#osd segmentedprogress {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
  }
  window#osd trough,
  window#osd segment {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: rgba(255, 255, 255, 0.12);
  }
  window#osd progress,
  window#osd segment.active {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: {{colors.primary.default.hex}};
  }
  window#osd segment {
    margin-left: 8px;
  }
  window#osd segment:first-child {
    margin-left: 0;
  }
